<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.evanbeechem.cameraremote</string>
    <key>ProgramArguments</key>
    <array>
        <string>/opt/homebrew/bin/node</string>
        <string>/Users/evanbeechem/Projects/8_wifi-camera-remote/server.js</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/evanbeechem/Projects/8_wifi-camera-remote</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/Users/evanbeechem/Projects/8_wifi-camera-remote/server.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/evanbeechem/Projects/8_wifi-camera-remote/server.error.log</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/opt/homebrew/bin</string>
    </dict>
</dict>
</plist>
